body {
    height: 100vh;
    display: grid; grid-template-rows: 1fr 1fr 1fr;
    justify-content: center; align-items: center;
}

button {
    border: none;
    background-color: #0000;
}

button:hover {
    cursor: pointer;
    transform: scale(1.3, 1.3);
}

.header-card {
    display: flex; flex-direction: column; justify-content: center; align-items: center;
    margin: 0 auto; padding: 12px;
    border-radius: 12px;
    width: 90%;
    box-shadow: 5px 5px 5px 5px #888888;    
}

.header-left {
    width: auto; height: 100%;
    position: relative;

    .img-container {
        #profile-img {
            display: block;
            width: 100%; height: 100%;
            border-radius: 10px;
            object-fit: cover;
        }
    }

    #name {
        color: white;
        font-size: 2rem;
        text-shadow: 2px 2px 5px black;
        position: absolute; bottom: 0rem; left: 50%;
        transform: translateX(-50%);
    }
}


.header-right {
    position: relative;
}

.info-container {
    padding: 18px;

    #about-me {
        text-align: center;
    }

    p {
        text-align: center;
        text-wrap: wrap;
    }
}

.icon-container {
    display: flex; flex-direction: row; justify-content: center; align-items: center; gap: 12px;
    float: right;
    padding: 20px;

    img {
        width: 1.5rem;
    }
}

main {
    margin: 0 auto; padding: 12px;
}

.projects-container {
    display: grid; 
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 2rem;

    .project {
        height: 25rem;
        border-radius: 20px;
        box-shadow: 2px 2px 5px 5px #888888;
    }

    .project-top {
        display: flex; justify-content: center; align-items: center;
        border-radius: 20px 20px 0 0;
        height: 50%;
        background-color: blue;
    }
    
    .project-icons {
        display: flex; flex-direction: row; justify-content: center; align-items: center;
        float: right;
        padding: 20px;
    
        img {
            width: 1.5rem;
        }
    }
}


@media (min-width: 800px) {
    .header-card {
        display: flex; flex-direction: row; justify-content: center; align-items: center;
        width: 95%;
        margin: 0 auto;
    }

    .header-left {
        display: flex; justify-content: center; align-items: center;
    }
    
    .img-container {
        display: flex;

        #profile-img {
            width: 100%; height: auto;
            border-radius: 30px;
            max-width: 1000px;
        }
    }

    main {
        margin: 8px; padding: 8px;
        .projects-container {
            display: grid; 
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: auto;
            gap: 3rem;
        }
    }
}